<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IRISLogger.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <IRISLogger.My.MySettings>
            <setting name="LogLocation" serializeAs="String">
                <value>C:\Users\Edd\Documents\New Meditations</value>
            </setting>
            <setting name="MixcloudKey" serializeAs="String">
                <value />
            </setting>
            <setting name="MixcloudTag0" serializeAs="String">
                <value>sra</value>
            </setting>
            <setting name="MixcloudTag1" serializeAs="String">
                <value>ussu</value>
            </setting>
            <setting name="MixcloudTag2" serializeAs="String">
                <value>shockradio</value>
            </setting>
            <setting name="MixcloudTag3" serializeAs="String">
                <value>studentradio</value>
            </setting>
            <setting name="MixcloudToken" serializeAs="String">
                <value />
            </setting>
            <setting name="fullLogLocation" serializeAs="String">
                <value />
            </setting>
        </IRISLogger.My.MySettings>
    </userSettings>
</configuration>